.home-wrap {
  position: relative;
  min-height: 100vh;
  background-image: url('../assets//img/bg01.png');
  .header{
    width: 100%;
    top: 0;
    position: fixed;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 1;
  }
  .content {
    min-height: 200vh;
    max-width: 1200px;
    margin: 60px auto;
    #kobe {
      width: 240px;
      height: 200px;
      position: absolute;
      bottom: 200px;
      right: 100px;
      z-index: -988;
    }
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: -60px;
    left: 0;
  }
}
